@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-dark: #1A3B44;
  --color-brand-orange: #DC713E;
  --color-brand-light: #F3F4F6;
  --color-brand-gray: #6B7280;
  --color-brand-accent: #FFA726;
  
  --font-family-sans: Inter, sans-serif;
}

body {
  background-color: theme(colors.brand.dark);
  color: theme(colors.brand.light);
  overflow-x: hidden; /* Prevents horizontal scroll */
  overflow: hidden; /* to be removed */
}

/* Styling for scrollbar to match the theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1A3B44;
}

::-webkit-scrollbar-thumb {
  background: #DC713E;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFA726;
}
